<body>
  <%= @player_1 %> vs <%= @player_2 %>
  <section>
    <p> <%= @player_2 %>'s health: <span id="p2_health"> <%= @health_2 %> <span> </p>
  </section>
  <form action="/attack" method="post">
    <button type="submit">Attack</button>
  </form>
  <% if @attack == true %>
    You attacked <%= @player_2 %>!
  <% end %>
</body>
