<body>
  <%= $game.player_one.name %> vs <%= $game.player_two.name %>
  <section>
    <p> <%= $game.player_two.name %>'s health: <span id="p2_health"> <%= $game.player_two.health %> <span> </p>
  </section>
  <form action="/attack" method="post">
    <button type="submit">Attack</button>
  </form>

  <p> test </p>
 <% if $game.player_one.last_move == :attack %> 
  <p>  You attacked <%= $game.player_two.name %> </p>
 <% end %>
 </body>
